@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.header {
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 20px;

  &_logo {
    margin-right: 13px;
  }
  
  &_wrp_index, &_btn_wrp {
    display: flex;
    align-items: center;
  }

  &_title {
    padding-right: 37px;
    font-size: 27px;
    font-weight: 100;
    letter-spacing: 0.68px;
    text-decoration: none;
  }
  
    
  &_link {
    text-decoration: none;
    display: block;
    padding: 12px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.35px;
    border-radius: 3px 0 0 3px;
    border: 1px solid #e6e6e6;
    background-color: #cdcdcc;
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
    cursor: pointer;   
  }

}

.menu {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.menu-link {
  text-decoration: none;
  display: block;
  padding: 30px 25px;
  color: #222222;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  list-style-type: none;
}

.menu li {
  position: relative;
  list-style-type: none;
  
}

.menu-link-box {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  top: 70px;
  padding: 20px;
}

.menu-link-box-list {
  background-color: #ffffff;
  margin-right: 40px;
}

.menu-link-box-list:last-of-type {
  margin-right: 0;
}

.menu-link-box-list h3 {
  border-bottom: 1px solid #e8e8e8;
  text-transform: uppercase;
  color: #232323;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 8px;
  margin-bottom: 8px;
  letter-spacing: 0.35px;
  width: 235px;
}

.menu-link-box-list ul {
  width: 100%;
}

.menu-link-box-list a {
  color: #646464;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.35px;
  text-decoration: none;
}

.menu-link-box-list a:hover {
  color: #f16d7f;
}

.menu-box-list-unit {
  margin-top: 22px;
}

.menu-box-list-unit-img {
  position: relative;
  margin-top: 15px;
  margin-left: -20px;
}

.menu-box-unittxt {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 0.55px;

}

.menu-img-box {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.pic-box {
  height: 128px;
}

.ssale-link {
  position: absolute;
  height: 100%;
  width: 100%;
  transition: all .5s;
}

.menu-link-box:before {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #ffffff;
  transform: rotate(45deg);
  top: -5px;
  left: 40px;
  border-top: #e8e8e8 1px solid;
  border-left: #e8e8e8 1px solid;
}

.menu li:hover .menu-link-box {
  display: flex;
}

.menu-link:hover {
  color: #f16d7f;
}

.last:hover .menu-link-box {
  display: flex;
  right: 0;
}

.last:hover .menu-link-box:before {
  top: -5px;
  right: 55px;
  left: auto;
}

.last:hover .menu-box-unittxt p {
  animation: saleAnim .5s linear 0s infinite normal;
}

.menu li:hover .menu-box-unittxt p {
  animation: saleAnim .5s linear 0s infinite normal;
}

a:visited {
  color: #222222;
}

a.my-acc:visited {
  color: #ffffff;
}

a.footer_menu_link:visited {
  color: #898989;
}

a.footer_bottom_socials_item:visited {
  color: #898989;
}

a.add:visited {
  color: #ffffff;
}

.fa-caret-down{
  padding-left: 8px;
}

.color {
  color: #f16d7f;
  font-weight: 900;
}

.main_banner {
  display: flex;
  background: #e8e8e8;
  background-image: url(img/hair_men.jpeg);
  background-repeat: no-repeat;
  background-position: 70% 30%;
  min-height: 613px;
  margin-bottom: 98px;

  &_text {
    max-height: 485px;
    padding-top: 224px;
  }

  &_title {
    font-weight: 1000;
    font-size: 60px;
    line-height: 58px;
    text-transform: uppercase;
    border-left: 12px solid #f16d7f;
    padding-left: 12px;
    letter-spacing: 1.5px;
  }

  &_subtitle {
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    text-transform: uppercase;
    border-left: 12px solid #f16d7f;
    padding-left: 12px;
    letter-spacing: 1px;
  }
}

.search {
  border-radius: 0 3px 3px 0;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  
  &_btn {
    padding: 4px 0 4px 14px;
    padding-right: 160px;
    border-radius: 0 3px 3px 0;
    border-right: 1px solid #e6e6e6;
    color: #ff0000;
    font-size: 14px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0.35px;
    opacity: 0.67;
    border-left: none;
    border-top: none;
    border-bottom: none;
    outline: #ffffff;
  }

}

.fa-search {
  padding: 12px 10px 0 8px;
  border-left: 0px solid #e6e6e6;
  opacity: 0.4;
  cursor: pointer;
}

.cart_btn {
  border: none;
  background-color: transparent;
  fill: white;
  padding-right: 26px;
  cursor: pointer;
  outline: none;
}

.my-acc {
  position: relative;
  padding: 5px 20px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  line-height: 32px;
  text-align: right;
  letter-spacing: 0.38px;
  color: #ffffff;
  cursor: pointer;
}


.button-site {
  background-color: #f16d7f;
  border: 1px solid transparent;
}

.button-site:hover {
  background-color: #fff;
  color: #f16d7f;
  border: 1px solid #f16d7f;
}

.button-site:hover .my-acc:before {
  border-color: #f16d7f transparent transparent transparent;
}

.my-acc:hover {
  color: #f16d7f;
}



.content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 96px;

  &_item_left, &_item_right {    
    display: flex;
    flex-direction: column;
  }

  &_women {
    position: relative;
    background-image: url(img/women.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 261px;
    min-width: 500px;
    margin-bottom: 20px;
  }

  &_men {
    position: relative;
    background-image: url(img/men.jpg);
    background-repeat: no-repeat;
    min-height: 560px;
    min-width: 542px;
    margin-bottom: 3px;
  }

  &_kids {
    position: relative;
    background-image: url(img/kids.jpg);
    background-repeat: no-repeat;
    min-height: 560px;
    min-width: 542px;
  }

  &_accesories {
    position: relative;
    background-image: url(img/accesories.jpg);
    background-repeat: no-repeat;
    min-width: 560px;
    min-height: 261px;
  }

  &_item_subtitle {
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.45px;
    text-transform: uppercase;
    color: #222222;
    margin-bottom: 10px;
  }

  &_item_title {
    font-weight: 900;
    font-size: 30px;
    line-height: 19px;
    letter-spacing: 0.75px;
    text-align: center;
    color: #f16d7f;
    text-transform: uppercase;
  }

  &_background{
    position: absolute;
    text-align: left;
    background-color: #ffffff;
    top: 26px; 
    left: 0px;
    padding: 16px 20px;
  }
}

.products {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  text-align: center;

  &_heading_title {
    width: 1140px;
    font-size: 30px;
    line-height: 24px;
    color: #222222;
    letter-spacing: 0.75px;
    font-weight: 700;
    text-align: center;
  }

  &_heading_txt {
    width: 1140px;
    font-size: 14px;
    line-height: 54px;
    color: #9f9f9f;
    padding-bottom: 60px;
    letter-spacing: 0.35px;
    text-align: center;
  }

  &_item {
    position: relative;
    margin-right: 22px;
    margin-bottom: 22px;
    list-style: none;
  }

  &_item_title {
    display: flex;
    flex-wrap: wrap;
    padding-left: 14px;
    padding-top: 18px;
    font-size: 13px;
    color: #222222;
    text-transform: uppercase;
    font-weight: 700;
  }

  &_item_price {
    display: flex;
    flex-wrap: wrap;
    padding-left: 13px;
    margin-top: 17px;
    padding-bottom: 60px;
    font-size: 16px;
    line-height: 19px;
    color: #f16d7f;
    font-weight: 600;
  }

  &_btn {
    display: flex;
    align-items: center
    margin: 0 auto;
    margin-top: 79px;
    margin-bottom: 113px;
    padding: 18px 24px;
    font-size: 16px;
    letter-spacing: 0.4px;
    color: #ffffff;
    border: 1px solid #ff6a6a;
    background-color: #f16d7f;
    outline: none;
    cursor: pointer;
  }
}

.products_item:hover .box-add {
  display: flex;
}

.products_item:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.products_item_photo {
  width: 100%;
}

.products_item:hover .products_item_photo {
  filter: brightness(50%);
}

.box-add {
  position: absolute;
  top: 100px;
  display: none;
  justify-content: center;
  width: 100%;
}

.add {
  border: 1px solid #ffffff;
  padding: 8px 12px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.add:hover {
  box-shadow: 0 0 10px #fff;
}

.add-img {
  margin-right: 7px;
}

.fa-long-arrow-alt-right {
  padding-left: 9px;
}

.features {
  display: flex;
  background-color: #222224;
  position: relative;
  margin-bottom: 97px;

  &_offer {
    background-image: url(img/winter_girl.jpg);
    min-height: 529px;
    min-width: 768px;
    background-repeat: no-repeat;
  }
  
  &_text {
    position: absolute;
    top: 146px;
    left: 39px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 54px;
    letter-spacing: 1.5px;
    max-width: 310px;
    line-height: 0.8;
  }

  &_subtitle_text {
    font-size: 32px;
    letter-spacing: 0.9px;
  }

  &_item {
    flex-flow: wrap;
    display: flex;
    margin: 57px 0 0 37px;
  }

  &_item_icon {
    display: flex;
    justify-content: center;
    border: none;
    background-color: transparent;
    fill:  #f16d7f;
  }

  &_item_title {
    justify-content: center;
    display: flex;
    font-size: 20px;
    letter-spacing: 0.5px;
    color: #fbfbfb;
    padding: 5px 0 0 31px;
  }

  &_item_txt {
    display: flex;
    justify-content: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    color: #fbfbfb;
    margin-left: 68px;
    max-width: 219px;
    max-height: 58px;
    padding-top: 12px;
    opacity: 0.7;
  }
}

.subscribe {
  position: relative;
  display: flex;
  min-height: 438px;

  &_bcg{
    position: relative;
  }
  
  &_name {
    letter-spacing: 0.4px;
    font-size: 11px;
    color: #222224;
    display: flex;
    flex-direction: column;
    padding-top: 19px;
    line-height: 20px;
    font-weight: 300;
    padding-left: 28px;
  }

  &_name_subtitle {
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
  }

  &_check_quote {
    margin-top: 41px;
    margin-left: 110px;
  }

  &_next_quote {
    margin-left: 5px;
    
  }

  &_info {
    display: flex;
  }

  &_info_avatar {
    display: flex;
    justify-content: center;
    background-color: none;
  }

  &_info_quote {
    display: flex;
    padding-top: 97px;
    margin-right: 72px;
  }

  &_info_txt {
    font-size: 16px;
    font-style: italic;
    line-height: 24px;
    text-align: left;
    color: #222224;
    display: block;
    letter-spacing: 0.4px;
    max-width: 390px;
    padding-left: 28px;
    font-weight: 600;
  }

  &_check {
    display: flex;
    flex-direction: column;
    padding-left: 132px;
    padding-top: 97px;
    border-left: 1px solid #ffffff;
    
  }

  &_title {
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #222224;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding-left: 10px;
    font-weight: 500;
    padding-top: 25px;
  }

  &_subtitle {
    padding-bottom: 35px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    color: #222224;
    letter-spacing: 0.35px;
    line-height: 24px;
    padding-left: 10px;
  }

  &_form {
    text-align: center;
    position: relative;
  }

  &_form_email {
    width: 282px;
    font-size: 14px;
    line-height: 17px;
    color: #222224;
    opacity: 0.67;
    padding: 15px 0 15px 22px;
    background-color: #e1e1e1;
    border-radius: 23px 0 0 23px;
    border: none;
    outline: none;
  }

  &_form_btn {
    width: 104px;
    left: 262px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #ffffff;
    background: #f16d7f;
    padding: 15px;
    border-radius: 0 23px 23px 0;
    border: none;
    letter-spacing: 0.35px;
    outline: none;
    margin-left: -3px;
  }
}

.subscribe::after {
  background: url(img/sea.png) no-repeat;
  background-size: cover;
  content: "";
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}


.footer {
  display: flex;
  flex-direction: column;

  &_links {
    display: flex;
    padding: 123px 0 97px 0;
  }

  &_links_text{
      color: #898989;
      font-size: 14px;
      letter-spacing: 0.35px;
      line-height: 24px;
      max-width: 427px;
      padding-top: 31px;
      opacity: 0.7;
      margin-right: 64px;
  }

  &_logo {
    display: flex;
    align-items: center;
  }

  &_menu {
    display: flex;
    list-style-type: none;
    justify-content: center;
    flex-direction: column;
  }

  &_menu_heading {
    padding: 15px 0 35px 0;
    color: #f16d7f;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &_menu_link {
    text-decoration: none;
    color: #898989;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    line-height: 42px;
    text-align: right;
  } 
  
  &_menu_padding {
    margin: 0 80px 0 129px;
  }

  &_bottom {
    display: flex;
    background: #e6e6e6;
  }

  &_bottom_about {
    padding: 33px 0;
    justify-content: space-between;
    display: flex;
  }

  &_bottom_txt {
    font-weight: 400;
    text-align: left;
    font-size: 16px;
    line-height: 19px;
    color: #7a7a7a;
  }

  &_bottom_socials_item {
    text-decoration: none;
    border: 4px solid #e6e6e6;
    background-color: #ffffff;
    padding: 8px 10px;
  }
}